
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;700&display=swap');

:root {
  --bs-primary: #6fb3d4;   
  --bs-primary-dark: #1F516B;  
  --bs-secondary: #8894CD; 
  --bs-secondary-dark: #42539E;   
  --bs-success: #367c74;    
  --bs-info: #6fc3b4;         
  --bs-warning: #c97a41;      
  --bs-danger: #a33f3f;       
  --bs-light: #A9B7BC;      
  --bs-dark: #000000;
}

body {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  background-image: url('/bg-img.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Poppins', serif;
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
}

h1 {
  font-size: 3rem;
}

.navbar {
  background-color: var(--bs-dark) !important;
  position: sticky;
  top:0;
  z-index: 1000;
}

footer {
  background-color: var(--bs-dark) !important;
  position: relative;
  bottom: 0;
  z-index: 1000;
}

.dropdown-menu {
  position: absolute;
  z-index: 1050;
}

.navbar-brand{
  font-family: 'Cinzel', sans-serif;
  color: var(--bs-primary);
  letter-spacing: 0.2rem;
}

.navbar-brand:hover{
  color: white;
  text-decoration: none;
}

.nav-link {
  margin: 10px;
}

.nav-link, footer a, footer {
  color: white; 
  font-weight: normal;
  text-decoration: none;
  padding: 10px;
  font-size: 1rem;
}

#nav-get-started {
  color: var(--bs-dark);
  background-color: var(--bs-primary);
  border-radius: 5px;
}

#nav-get-started:hover {
  color: white;
  background-color: var(--bs-primary-dark);
  border-radius: 5px;
}

.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-toggle.show {
  color: white !important;
}

footer a:hover {
  color: var(--bs-primary);
}

.navbar .navbar-nav .nav-link:hover{
  color: white;
  background-color: var(--bs-secondary);
  text-decoration: none;
  border-radius: 5px;
}

.modal-content.success {
  border: 3px solid var(--bs-success);
}

.side-bar {
  background-color: var(--bs-primary-dark);
  color: white;
  border-radius: 6px;
}

.bottom-nav {
  background-color: var(--bs-primary-dark);
  color: white;
  border-color: var(--bs-primary-dark);
}

.side-bar-link {
  font-size:1.5rem;
}

.side-bar-link:hover {
  color: var(--bs-secondary);
  text-decoration: underline;
}

.container {
  background-color: rgba(0,0,0, 0.85); 
  color: var(--bs-light);
  border: none;
  backdrop-filter: blur(6px);
}

button {
  text-transform: uppercase;
  margin: 1rem;
}

.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: var(--bs-dark);
}

.btn-primary:hover {
  background-color: var(--bs-primary-dark);
  border-color: var(--bs-primary-dark);
}

.btn-secondary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
  color: var(--bs-dark);
}

.btn-secondary:hover {
  background-color: var(--bs-secondary-dark);
  border-color: var(--bs-secondary-dark);
  color: white
}

h1, h2, h3 {
  color: white;
  font-family: 'Poppins', serif;
  font-weight: normal;
  text-align: start;
}

p {
  text-align: start;
}

/* ::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--bs-primary);
  border-radius: 4px;
} */

.bg-primary {
  background-color: var(--bs-primary) !important;
}

.bg-primary-dark {
  background-color: var(--bs-primary-dark) !important;
}

.bg-secondary {
  background-color: var(--bs-secondary) !important;
}

.bg-success {
  background-color: var(--bs-success) !important;
}

.bg-info {
  background-color: var(--bs-info) !important;
}

.bg-warning {
  background-color: var(--bs-warning) !important;
}

.bg-danger {
  background-color: var(--bs-danger) !important;
}

.bg-light {
  background-color: var(--bs-light) !important;
}

.bg-dark {
  background-color: var(--bs-dark) !important;
}

.text-primary {
  color: var(--bs-primary) !important;
}

.text-secondary {
  color: var(--bs-secondary) !important;
}

.text-success {
  color: var(--bs-success) !important;
}

.text-info {
  color: var(--bs-info) !important;
}

.text-warning {
  color: var(--bs-warning) !important;
}

.text-danger {
  color: var(--bs-danger);
}

.form-control {
  border-color: var(--bs-secondary);
}

.form-control:focus {
  border-color: var(--bs-primary);
  box-shadow: 0 0 0 0.25rem rgba(106, 160, 188, 0.25); 
}

a {
  color: var(--bs-primary);
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.alert-primary {
  background-color: var(--bs-primary);
  color: white;
  border: white;
}

.alert-secondary {
  background-color: var(--bs-secondary);
  color: white;
}

.alert-success {
  background-color: var(--bs-success);
  color: white;

}

.alert-info {
  background-color: var(--bs-info);
  color: white;
}

.alert-warning {
  background-color: var(--bs-warning);
  color: white;
}

.alert-danger {
  background-color: var(--bs-danger);
  color: white;
}

/* Spinning the loading spinner */ 
.spinner {
  width: 100px;
  height: 100px;
  animation: rotate 3s infinite linear;
  background-image: url('/safespace-logo-80x80.jpeg');
  background-size: 100px 100px;
  border-radius: 100%;
}

@keyframes rotate{ 
  from {transform: rotate(0deg);} 
  to {transform: rotate(360deg);}
}

.aboutus-scroll-container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

.snap-section {
  scroll-snap-align: start;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .aboutus-scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
} */

/* .snap-section {
  scroll-snap-align: start;
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 40px; /* Adjust based on your navbar height 
} */

.scroll-down-arrow {
  animation: bounce 2s infinite;
  display: inline-block;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

